
.one{
    color: rgb(70, 42, 42);
    background-color: rgb(201, 214, 224);
    padding-left: 10px;
    
}
#one1{
    background-color: gray;
    margin-top: 0;
    margin-bottom: 0;
   
}
#line{
    background-color: rgb(9, 126, 155);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
   
    
}
#line1{
    background-color: rgb(43, 122, 197);
    color: rgb(230, 230, 225);
    margin-top: 0%;
    margin-bottom: 0%;
}
   
#line2{
    background-color: rgb(70, 154, 202);
    color: rgb(231, 233, 235);
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#line3{
    background-color: rgb(46, 146, 228);
    color: rgb(243, 245, 247);
    margin-top: 0%;
    margin-bottom: 0%;
   
   
}
#line4{
    background-color: rgb(84, 132, 177);
    color: rgb(230, 233, 236);
    
    margin-top: 0%;
    margin-bottom: 0%;
    
    
}
#line5{
    background-color: rgb(116, 173, 218);
    color: rgb(223, 227, 231);
    margin-top: 0%;
    margin-bottom: 0%;
   
  
}
#line6{
    background-color: rgb(160, 197, 229);
    color: rgb(240, 242, 243);
    margin-top: 0%;
    margin-bottom: 0%;
   
}
#line7{
    background-color: rgb(8, 136, 25);
    color: rgb(209, 213, 216);
    margin-top: 0%;
    margin-bottom: 0%;
    
    
}
#line8{
    background-color: rgb(150, 88, 99);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
   
}
#line9{
    background-color: rgb(148, 78, 89);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#line10{
    background-color: rgb(153, 63, 78);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
   
}
#line11{
    background-color: rgb(139, 46, 61);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#line12{
    background-color: rgb(139, 33, 51);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#line13{
    background-color: rgb(185, 42, 66);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#line14{
    background-color: rgb(143, 7, 30);
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 0%;

}